{
    auto_https off
    admin off
    servers {
        protocols h1 h2 h3
    }
}

:8084 {
    @health path /health
    respond @health 200 {
        body "OK"
    }

    @runtime path /runtime.json
    file_server @runtime {
        root /etc/xray
    }

    map {path} {backend_port} {
        ~PATH_PLACEHOLDER-x-vless-ws$10001         ~PATH_PLACEHOLDER-x-vless-hu$   10002
        ~PATH_PLACEHOLDER-x-vmess-ws$10005         ~PATH_PLACEHOLDER-x-vmess-hu$   10006
        ~PATH_PLACEHOLDER-x-trojan-ws$10009         ~PATH_PLACEHOLDER-x-trojan-hu$  10010
        ~PATH_PLACEHOLDER-x-ss-ws$10013         ~PATH_PLACEHOLDER-x-ss-hu$      10014
        ~PATH_PLACEHOLDER-s-vless-ws$11001         ~PATH_PLACEHOLDER-s-vless-hu$   11002
        ~PATH_PLACEHOLDER-s-vmess-ws$11004         ~PATH_PLACEHOLDER-s-vmess-hu$   11005
        ~PATH_PLACEHOLDER-s-trojan-ws$11007         ~PATH_PLACEHOLDER-s-trojan-hu$  11008
        ~PATH_PLACEHOLDER-ssh-ws$2222         ~PATH_PLACEHOLDER-ovpn-ws$      2223
        default                         unknown
    }

    @multiplex path_regexp ^PREFIX_PLACEHOLDER/
    handle @multiplex {
        @valid expression `{backend_port} != "unknown"`
        reverse_proxy @valid 127.0.0.1:{backend_port} {
            header_up X-Real-IP {remote}
        }
        respond 404
    }

    handle {
        root * /app/panel
        file_server
    }
}
